<div id="scroller">
<div id="up"></div>
<div id="down"></div>
</div>

<div id="panel1" class="panel">
<div class="row-fluid vcenter">
  <div class="span4 offset4">
    <h3><em>Hi, I'm</em></h3>
    <h1>Josh Haimson</h1>
  </div>
</div>
</div>
<div id="panel2" class="panel">
<div class="row-fluid vcenter">
  <div class="span6 offset3">
    <h1>Developer</h1>
    <h1>Student</h1>
    <h1>Startup Enthusiast</h1>
    <h1>Musician</h1>
    <h1>Dreamer</h1>
  </div>
</div>
</div>
<div id="panel3" class="panel">
<div class="container-fluid">
  <div class="row-fluid voffset">
    <div class="span6 offset3">
      <h2>What I'm Working On</h2>
      <br>
      <h4>I'm a student at MIT with a passion for technology and startups - particularly those geared towards solving large societal issues like Energy, Health, Education, etc.</h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 offset2">
      <%= link_to image_tag("startlabs.jpg", alt: "StartLabs"),"http://www.startlabs.org" %>
      <h3><%= link_to "StartLabs", "http://www.startlabs.org" %></h3>
      <h4>Partner Relations Director</h4>
      <p>StartLabs is a non-profit geared towards creating the next generation of creative technical entrepreneurs</p>
    </div>
    <div class="span2">
      <%= link_to image_tag("igem.png", alt: "iGEM"),"http://www.igem.org" %>
      <h3><%= link_to "iGEM", "http://www.igem.org" %></h3>
      <h4>MIT Team Member</h4>
      <p>Based out of the Weiss Lab for Synthetic Biology at MIT, our team is aiming to engineer cell-cell communication using the Cas9 protein</p>
    </div>
    <div class="span2">
      <%= link_to image_tag("neumitra.png", alt: "Neumitra"),"http://techcrunch.com/2012/10/05/neumitra-bandu-tctv-funding-yahoo-boston-scientific/" %>
      <h3><%= link_to "Neumitra", "http://techcrunch.com/2012/10/05/neumitra-bandu-tctv-funding-yahoo-boston-scientific/" %></h3>
      <h4>Software Engineering Intern</h4>
      <p>Neumitra is bringing brain health to daily life through wearable and mobile technologies with personalized analytics</p>
    </div>
    <div class="span2">
      <%= link_to image_tag("mit.jpg", alt: "MIT"),"http://www.mit.edu" %>
      <h3><%= link_to "MIT", "http://www.mit.edu" %></h3>
      <h4>Student</h4>
      <p>Candidate for a Bachelor of Science in Computer Science and Molecular Biology - Class of 2016</p>
    </div>
  </div>
</div>
</div>
<div id="panel4" class="panel">
<div class="row-fluid vcenter">
  <div class="span6 offset3 leftalign">
    <h1 class="centeralign">Previous Experience</h1>
    <br>
    <h3><a href="http://www.empower-solar.com">EmPower Solar</a></h3>
    <h4><em>Engineering, Sales and Marketing Intern</em></h4>
    <ul>
      <li>Designed and installed a 10.13 kW residential solar photovoltaic system</li>
      <li>Prepared and delivered sales proposals, ran marketing events, developed energy analysis tools</li>
    <br>
    </ul>
    <h3><a href="http://www.http://e-capitaldevelopment.com">E-Capital Development</a></h3>
    <h4><em>Web Developer</em></h4>
    <ul>
      <li>Developed an e-brokerage web portal in PHP for developing, insuring and financing energy performance contracts</li>
    </ul>
  </div>
</div> 
</div>
<div id="panel5" class="panel">
<div class="quote vcenter">
  <div class="row-fluid">
    <div class="span6 offset3">
      <h1>Testimonials:</h1>
      <h4>“His combination of intellect, technical competency, cultural understanding and emotional intelligence at his age (or at any age) is something we’ve never encountered before. Josh is remarkable and everyone at EmPower speaks glowingly about him. We feel fortunate to know him, and only hope to spend more time with him in the future.”</h4>
      <h4>- David Schieren, CEO EmPower Solar<br>(<a href="http://www.empower-solar.com/blog/2012/01/">full blog post</a>)</h4>
    </div>
  </div>
</div>
</div>
<div id="panel6" class="panel">
<div class="row-fluid voffset">
  <div class="span6 offset3">
    <h1>When I'm Not Working</h1>
    <h4>I Love Playing Music</h4>
    <h4>If you're interested, here's a video from my high school battle of the bands</h4>
    <iframe width="820" height="461" src="http://www.youtube.com/embed/XVwxB1FdJSw" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
</div>
<div id="panel7" class="panel">
<div class="container-fluid">
  <div class="row-fluid voffset">
    <div class="span6 offset3">
      <h1>I call Boston home, but I frequent NY</h1><br>
      <h1>I love meeting new people, so let's connect!</h1>
    </div>
  </div>
  <div class="row-fluid voffset">
    <div class="span1 offset4"><%= link_to image_tag("email.png", alt:"EMail"), "mailto:jdhaimson@gmail.com" %></div>
    <div class="span1"><%= link_to image_tag("linkedin.png", alt:"Linked In"), "http://www.linkedin.com/in/jhaimson" %></div>
    <div class="span1"><%= link_to image_tag("twitter.png", alt:"Twitter"), "https://twitter.com/Just_Joshing" %></div>
    <div class="span1"><%= link_to image_tag("github.jpg", alt:"GitHub"), "https://github.com/Jdhaimson" %></div>
  </div>
</div>
</div>

<%= javascript_tag("$(document).ready(sliderInit)") %>
